@charset "UTF-8";
/*============================================
全般的なスタイル
============================================*/
{
	margin:0; padding:0; 	/*全要素のマージン・パディングをリセット*/
	line-height:1.5;	/*全要素の行の高さを1.5倍にする*/
	color:#333333;		/*文字色*/

}

 body {
	background-image: url("momiji.png");/*背景に画像を適応*/
	background-size: cover;/*背景の画像サイズ*/
	backgraund-attachment: fixed;/*背景画像の固定・移動を指定*/
	margin:20px auto;/*マージンに関する指定*/
	background-color:#f9f9f9;	/*ページ全体の背景色*/
}

div#pagebody {
	width:796px; margin:0 auto;	/*内容全体をセンタリング*/
	text-align:left;	/*テキストの配置を左揃えにする*/
	background-image:url("images/bg_pagebody.gif");	/*内容全体の背景*/
	background-repeat:repeat-y;		/*背景画像を縦方向に繰り返す*/
	background-color:white;		/*内容全体の背景色*/
}

/*============================================
ヘッダ
============================================*/
div#header {
	height:100px;	/*背景画像のサイズに合わせてボックスの高さを指定*/
	font-family:Arial, Helvetica, sans-serif;	/*フォントの種類*/
}
h1 a {text-decoration:none;} /*リンクの下線を無くす*/
/*============================================
コンテンツ（一覧や検索の外枠）
============================================*/
div#content{
	height: 750px;/*高さ指定*/
}
/*============================================
メイン（左中央の検索一覧）
============================================*/
div#main {
	width:1000px; 	/*幅の指定と位置調整*/
	height:auto;			/*高さの指定*/
	margin:30px 10px 10px 200px;	/*位置調整（IE6のバグに注意）*/
	float:left;				/*左寄せにする*/
	background-color: #dffcff;	/*背景色の指定*/
	white-space:nowrap;		/*横スクロール*/
	border-top-left-radius: 10px;     /* 左上 */
	border-top-right-radius: 10px;    /* 右上 */
	border-bottom-right-radius:10px; /* 右下 */
	border-bottom-left-radius: 10px;  /* 左下 */
	padding: 20px 10px 50px 50px;  /* 内側の余白 */
	background: rgba(255,255, 255, 0.7);/*背景色と透過率*/

}
h1{
	font-weight: 700;/*フォントの太さ*/
}
h2{
	text-shadow: 3px 3px 0 #afafaf;/*テキストに影*/
	font-weight: 700;/*フォントの太さ*/
}
h3{
	font-weight: 700;/*フォントの太さ*/
}
dt{
	color: #ff0000;/*フォントの色*/
	font-size: 100%;/*フォントの大きさ*/
	font-weight: 500;/*フォントの太さ*/
	line-height: 150%;/*行の高さを指定*/
	}

dd{
	line-height: 200%;/*行の高さを指定*/
}

/*============================================
サブメニュー（右の検索）
============================================*/
div#submenu {
	width:400px;			/*幅の指定*/
	height:auto;			/*高さの指定*/
	margin:30px 260px 10px 10px;	/*位置調整（IE6のバグに注意）*/
	display:inline;			/*IE6のマージン算出のバグ対策*/
	float:right;			/*サブメニューのカラムを右寄せにする*/
	border-top-left-radius: 10px;     /* 左上 */
	border-top-right-radius: 10px;    /* 右上 */
	border-bottom-right-radius: 10px; /* 右下 */
	border-bottom-left-radius: 10px;  /* 左下 */
	padding: 20px 0px 20px 50px;  /* 内側の余白 */
	background: rgba(255, 255, 255, 0.7);/*背景の色と透過率*/
	font-weight:bold;/*文字列の太さ*/
	color:#000000;/*文字列の色*/
}

ul#sideber_body li a:hover {
	background-color:#ffffff;	/*リンクにマウスが乗ったら色を変える*/
}
a{
	color: #000000;/*色指定*/
}
h4{
	font-weight:bold;/*フォントの太さ*/
}

/*============================================
フッタ
============================================*/
div#footer {
	height:42px; text-align:center;/*フッターの位置*/
	clear:both;					/*回り込みを解除する*/
	background-image:url("images/bg_footer.jpg");	/*フッタ部分の背景画像*/
	background-repeat:no-repeat;			/*背景画像を繰り返さない*/
	background-color:#cccccc;			/*フッタ部分の背景色*/
}
address {
	font-style:normal;			 /*フォントスタイルを標準にする*/
	font-size:small;			 /*フォントサイズを小さくする*/
	padding:5px 0px 5px 0px;		 /*要素内容の位置調整*/
}

/*============================================
その他の設定
============================================*/
/*リンク未訪問*/
a:link{
	color: #2424ff;/*フォント色指定*/
	background: rgba;/*透過指定*/
	font-weight: bold;/*文字列の太さ*/
	font-size: 200%;/*フォントのサイズ指定*/
}

/*リンク訪問後*/
a:visited{
	color: #000000;/*色指定*/
	background: #efffff;/*背景色指定*/
}

/*リンクをクリック*/
a:active{
	color: #ff0000;/*色指定*/
	background: rgba;/*背景色指定*/
}

img[alt]{
	border-style: solid;/*ボーダーのスタイルを指定*/
	border-color: #0000ff;/*ボーダーの色を指定*/
}
/*子孫セレクタと子セレクタ*/
p strong{color: white;background-color: red;}/*色と背景色を指定*/
p>strong{color: blue;}/*色指定*/

/*カーソルが乗っていると文字が拡大*/
#table2 table{ border: 5px #ff0080 groove; }
#table2 td{ border: 5px #ff0080 groove; }
#table2 th{ border: 5px #ff0080 groove; }

/*画面の縮小*/
img {
    max-width: 100%;/*幅の最大値を指定*/
    height: auto;/*高さ指定*/
}
/*リンク透過*/
li {
  display: inline-block;
  *display: inline;/*要素の表示形式（ブロック・インライン・フレックス等）を指定*/
  *zoom: 1;/*拡大・縮小表示する*/
  padding: 15px;
  background: rgba;
  color: #ffffff;
}
/*背景画像推移 先頭*/
.haikei {
    position: fixed;/*位置を固定*/
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #fecda5;
    z-index: -1;/*ボックスの重なり順序を指定*/
}
.haikei li {
    position: absolute;/*位置を絶対位置として指定*/
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;/*要素を埋めるように指定*/
    background-position: 50% 50%;
    background-repeat: none;/*繰り返さないように指定*/
    opacity: 0;/*透明指定*/
    -webkit-animation: anime 40s linear 0s infinite ;/*アニメーションの時間設定*/
    animation: anime 40s linear 0s infinite ;/*アニメーションの時間設定*/
}
.haikei li:nth-child(1) {
    background-image: url(ichou.jpg)   /* 背景画像 */
}
.haikei li:nth-child(2) {
    background-image: url(yuki.jpg);/* 背景画像 */
    -webkit-animation-delay: 10s;/*変化が始まる時間*/
    animation-delay: 10s;/*変化が始まる時間*/
}
.haikei li:nth-child(3) {
    background-image: url(ume.jpg);/* 背景画像 */
    -webkit-animation-delay: 20s;/*変化が始まる時間*/
    animation-delay: 20s;/*変化が始まる時間*/
}
.haikei li:nth-child(4) {
    background-image: url(umi.jpg);/* 背景画像 */
    -webkit-animation-delay: 30s;/*変化が始まる時間*/
    animation-delay: 30s;/*変化が始まる時間*/
}
@-webkit-keyframes anime {
    0% {
        -webkit-animation-timing-function: ease-in;/*メーションのタイミング・進行割合を指定*/
        opacity: 0;/*透明度*/
    }
    10% {
        -webkit-transform: scale(1.1);/*変形値*/
        opacity: 1;/*透明度*/
    }
    40% {
        -webkit-transform: scale(1.2);/*変形値*/
            -webkit-animation-timing-function: ease-out;/*アニメーションのタイミング・進行割合を指定*/
        opacity: 1;/*透明度*/
    }
    50% {
        -webkit-transform: scale(1.3);/*変形値*/
        opacity: 0;/*透明度*/
    }
    100% { opacity: 0 }/*透明度*/
}
@keyframes anime {
    0% {
        animation-timing-function: ease-in;/*アニメーションのタイミング・進行割合を指定*/
        opacity: 0;/*透明度*/
    }
    10% {
        transform: scale(1.1);/*変形値*/
        opacity: 1;/*透明度*/
    }
    40% {
        transform: scale(1.2);/*変形値*/
            animation-timing-function: ease-out;/*アニメーションのタイミング・進行割合を指定*/
        opacity: 1;/*透明度*/
    }
    50% {
        transform: scale(1.3);/*変形値*/
        opacity: 0;/*透明度*/
    }
    100% { opacity: 0 }/*透明度*/
}
/*背景画像推移 終了（ここまで）*/

/* ログアウトの文字色*/
.navbar-inverse .navbar-nav>li>a {
    color: #000000;
}

/*イベント詳細　画像位置*/
#inner0 {
	width: 900px;
	margin-right: auto;
	margin-left : auto;
	}
#inner {
	width: 550px;
	margin-right: auto;
	margin-left : auto;
	}
	/*イベント詳細　内容位置*/
#inner2 {
	width: 900px;
	margin-right: auto;
	margin-left : auto;
	/*イベント情報　基本情報位置*/
	}
#inner3 {
	width: 700px;
	margin-right: auto;
	margin-left : auto;
	}
	/*チームロゴのサイズと位置*/
.pos {
	width: 10%;
	position:absolute;
	bottom:2%;
	right:2%;
	}
